body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}

h1 {
    color: greenyellow;
}



h2 {
    color: red;
}

button {
    padding: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}